# This is a basic workflow to help you get started with MATLAB Actions

name: MATLAB Build

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4
      
      # Sets up MATLAB on a GitHub-hosted runner
      - name: Set up MATLAB
        uses: matlab-actions/setup-matlab@v2

      # TASK 0 - Runs a MATLAB command using run-command action
      # - name: Run MATLAB command
      #   uses: matlab-actions/run-command@v2
      #   with:
      #     command: ver

      # TASK 1 - Runs all tests in the repository using run-tests action
      # - name: Run all tests
      #   uses: matlab-actions/run-tests@v2
      #   with:
      #     source-folder: ??

      # TASK 2 - Run all tests in the repository using run-build action
      # - name: Run all tests using buildtool
      #   uses: matlab-actions/run-build@v2
      #   with:
      #     tasks: ??

      # - name: Upload test results
      #   uses: actions/upload-artifact@v4
      #   if: always()
      #   with:
      #     name: test-results
      #     path: test-results/results.xml
